:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, .87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0
}

section {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center
}

section>* {
  padding: 1rem
}

.section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center
}

.section>* {
  padding: 1rem
}

.section__description {
  height: 50vh
}

.section__images {
  height: 50vh;
  flex-flow: row
}

.section__images>img {
  width: 15rem
}

.hidden {
  display: none
}